.simple { border-collapse: collapse; width: 100%; }
.simple th, .simple td { border: 1px solid #ddd; padding: 4px 6px; }
.simple th { background: #2d2d2d; color: #ffffff; text-align:left; font-size: 0.8em; }
