<table class="simple">
  <thead><tr><th *ngFor="let h of headers">{{ h }}</th></tr></thead>
  <tbody>
    <tr *ngFor="let r of rows">
      <td *ngFor="let h of headers">
        <span *ngIf="h === 'talk_time'; else checkAvgHandle">{{ r[h] | hhmmss }}</span>
        <ng-template #checkAvgHandle>
          <span *ngIf="h === 'AVG_HANDLE_SEC'; else normalCell">{{ (r[h] | number:'1.1-1') }}</span>
          <ng-template #normalCell>{{ r[h] }}</ng-template>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
